body {
	background: linear-gradient(-45deg, #ee7752, #00750a, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    background-attachment: fixed;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.svg_white {
    fill: #fff;
}


@media (max-width: 576px) { 
    .rounded-4 {       
        border-radius: 0 !important;
    }
}