.fixed_background {
    background-image: url("./images/bg-img.jpg");
    min-height: 25%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.svg_white {
    fill: #fff;
}
